<!doctype html>
<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Cocono</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="/css/slick.css">

    <!--====== Animate css ======-->
    <link rel="stylesheet" href="/css/animate.css">

    <!--====== Nice Select css ======-->
    <link rel="stylesheet" href="/css/nice-select.css">

    <!--====== Nice Number css ======-->
    <link rel="stylesheet" href="/css/jquery.nice-number.min.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="/css/style.css">

    <!--====== Responsive css ======-->
    <link rel="stylesheet" href="/css/responsive.css">


</head>

<body>

<!--====== PRELOADER PART START ======-->

<div class="preloader">
    <div class="loader rubix-cube">
        <div class="layer layer-1"></div>
        <div class="layer layer-2"></div>
        <div class="layer layer-3 color-1"></div>
        <div class="layer layer-4"></div>
        <div class="layer layer-5"></div>
        <div class="layer layer-6"></div>
        <div class="layer layer-7"></div>
        <div class="layer layer-8"></div>
    </div>
</div>

<!--====== PRELOADER PART START ======-->

<!--====== HEADER PART START ======-->

<header id="header-part">

    <div class="header-top d-none d-md-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="header-contact text-lg-left text-center">
                        <ul>
                            <li><img src="../images/all-icon/call.png" alt="icon"><span>(124) 123 675 598</span></li>
                            <li><img src="../images/all-icon/email.png" alt="icon"><span>info@yourmail.com</span></li>
                            <li><img src="../images/all-icon/map.png" alt="icon"><span>RMIT 521 Kim Mã, Đống Đa, Hà Nội</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="header-social text-lg-right text-center">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- header top -->

    <div class="navigation navigation-2">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-11 col-md-10 col-sm-9 col-9">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="../index.php">
                            <img src="../images/cocono.png" alt="Logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="active" href="../index-2.php">Home</a>
                                    <ul class="sub-menu">
                                        <li><a href="../index.php">Home 01</a></li>
                                        <li><a class="active" href="../index-3.php">Home 02</a></li>
                                        <li><a href="../index-4.php">Home 03</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="courses_management.php">Courses Management</a>
                                    <ul class="sub-menu">
                                        <li><a href="add_course.php">Add course</a></li>
                                        <li><a href="edit_course.php">Edit course</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="../courses.php">Courses</a>
                                    <ul class="sub-menu">
                                        <li><a href="../courses.php">Courses</a></li>
                                        <li><a href="../courses-singel.php">Course Singel</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="../teachers.php">Teachers Management</a>
                                    <ul class="sub-menu">
                                        <li><a href="../teachers.php">teachers</a></li>
                                        <li><a href="../teachers-singel.php">teacher Singel</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="../blog.php">Blog</a>
                                    <ul class="sub-menu">
                                        <li><a href="../blog.php">Blog</a></li>
                                        <li><a href="../blog-singel.php">Blog Singel</a></li>
                                    </ul>
                                </li>


                            </ul>
                        </div>
                    </nav> <!-- nav -->
                </div>
                <div class="col-lg-1 col-md-2 col-sm-3 col-3">
                    <div class="right-icon text-right">
                        <ul>
                            <li><a href="#" id="search"><i class="fa fa-search"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i><span>0</span></a></li>
                        </ul>
                    </div> <!-- right icon -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>

</header>

<!--====== HEADER PART ENDS ======-->

<!--====== SEARCH BOX PART START ======-->

<div class="search-box">
    <div class="serach-form">
        <div class="closebtn">
            <span></span>
            <span></span>
        </div>
        <form action="#">
            <input type="text" placeholder="Search by keyword">
            <button><i class="fa fa-search"></i></button>
        </form>
    </div> <!-- serach form -->
</div>

<!--====== SEARCH BOX PART ENDS ======-->

<!--====== PAGE BANNER PART START ======-->

<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url(../images/page-banner-2.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>Edit course</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="../#">Staff</a></li>
                            <li class="breadcrumb-item"><a href="../#">Courses management</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Edit course</li>
                        </ol>
                    </nav>
                </div>  <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== PAGE BANNER PART ENDS ======-->

<!--====== COURSES SINGEl PART START ======-->

<section id="corses-singel" class="pt-90 pb-120 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="corses-singel-left mt-30">
                    <div class="title">
                        <h3><?php echo $course["name_co"]; ?></h3>
                    </div> <!-- title -->
                    <div class="course-terms">
                        <ul>
                            <li>
                                <div class="teacher-name">
                                    <div class="thum">
                                        <img src="../images/course/teacher/t-1.jpg" alt="Teacher">
                                    </div>
                                    <div class="name">
                                        <span>Giảng viên</span>
                                        <h6><?php echo get_teacher_by_id($course["id_te"])['name_te']; ?></h6>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="course-category">
                                    <span>Thể loại</span>
                                    <h6><?php echo $category['name_ca']; ?> </h6>
                                </div>
                            </li>
                            <li>
                                <div class="review">
                                    <span>Đánh giá</span>
                                    <ul>
                                        <li><a href="../#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="../#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="../#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="../#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="../#"><i class="fa fa-star"></i></a></li>
                                        <li class="rating">(20 Đánh giá)</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div> <!-- course terms -->

                    <div class="corses-singel-image pt-50">
                        <img src="../<?php echo $course["path_pic"]; ?>" alt="Courses">
                    </div> <!-- corses singel image -->

                    <div class="corses-tab mt-30">
                        <ul class="nav nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Tổng quan</a>
                            </li>
                            <li class="nav-item">
                                <a id="curriculam-tab" data-toggle="tab" href="#curriculam" role="tab" aria-controls="curriculam" aria-selected="false">Chương trình</a>
                            </li>
                            <li class="nav-item">
                                <a id="instructor-tab" data-toggle="tab" href="#instructor" role="tab" aria-controls="instructor" aria-selected="false">Người hướng dẫn</a>
                            </li>
                            <li class="nav-item">
                                <a id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Đánh giá</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                                <div class="overview-description">
                                    <div class="singel-description pt-40">
                                        <h6>Tổng quan về khóa học</h6>
                                        <p><?php echo $course['overview_co']; ?></p>
                                    </div>
                                    <div class="singel-description pt-40">
                                        <h6>Yêu cầu</h6>
                                        <p><?php echo $course['requirement_co']; ?></p>
                                    </div>
                                </div> <!-- overview description -->
                            </div>
                            <div class="tab-pane fade" id="curriculam" role="tabpanel" aria-labelledby="curriculam-tab">
                                <div class="curriculam-cont">
                                    <div class="title">
                                        <h6>Learn basis javascirpt Lecture Started</h6>
                                    </div>
                                    <div class="accordion" id="accordionExample">
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <a href="../#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.1</span></li>
                                                        <li><span class="head">What is javascirpt</span></li>
                                                        <li><span class="time d-none d-md-block"><i class="fa fa-clock-o"></i> <span> 00.30.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies luctus augue, eget maximus felis laoreet quis. Maecenasbibendum tempor eros.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header" id="headingTow">
                                                <a href="../#" data-toggle="collapse" class="collapsed" data-target="#collapseTow" aria-expanded="true" aria-controls="collapseTow">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.2</span></li>
                                                        <li><span class="head">What is javascirpt</span></li>
                                                        <li><span class="time d-none d-md-block"><i class="fa fa-clock-o"></i> <span> 00.30.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <div id="collapseTow" class="collapse" aria-labelledby="headingTow" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies luctus augue, eget maximus felis laoreet quis. Maecenasbibendum tempor eros.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header" id="headingThree">
                                                <a href="../#" data-toggle="collapse" class="collapsed" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.3</span></li>
                                                        <li><span class="head">What is javascirpt</span></li>
                                                        <li><span class="time d-none d-md-block"><i class="fa fa-clock-o"></i> <span> 00.30.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>
                                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies luctus augue, eget maximus felis laoreet quis. Maecenasbibendum tempor eros.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header" id="headingFore">
                                                <a href="../#" data-toggle="collapse" class="collapsed" data-target="#collapseFore" aria-expanded="false" aria-controls="collapseFore">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.4</span></li>
                                                        <li><span class="head">What is javascirpt</span></li>
                                                        <li><span class="time d-none d-md-block"><i class="fa fa-clock-o"></i> <span> 00.30.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>
                                            <div id="collapseFore" class="collapse" aria-labelledby="headingFore" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies luctus augue, eget maximus felis laoreet quis. Maecenasbibendum tempor eros.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header" id="headingFive">
                                                <a href="../#" data-toggle="collapse" class="collapsed" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.5</span></li>
                                                        <li><span class="head">What is javascirpt</span></li>
                                                        <li><span class="time d-none d-md-block"><i class="fa fa-clock-o"></i> <span> 00.30.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>
                                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies luctus augue, eget maximus felis laoreet quis. Maecenasbibendum tempor eros.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header" id="headingSix">
                                                <a href="../#" data-toggle="collapse" class="collapsed" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.6</span></li>
                                                        <li><span class="head">What is javascirpt</span></li>
                                                        <li><span class="time d-none d-md-block"><i class="fa fa-clock-o"></i> <span> 00.30.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>
                                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies luctus augue, eget maximus felis laoreet quis. Maecenasbibendum tempor eros.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header" id="headingSeven">
                                                <a href="../#" data-toggle="collapse" class="collapsed" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.7</span></li>
                                                        <li><span class="head">What is javascirpt</span></li>
                                                        <li><span class="time d-none d-md-block"><i class="fa fa-clock-o"></i> <span> 00.30.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>
                                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies luctus augue, eget maximus felis laoreet quis. Maecenasbibendum tempor eros.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- curriculam cont -->
                            </div>
                            <div class="tab-pane fade" id="instructor" role="tabpanel" aria-labelledby="instructor-tab">
                                <div class="instructor-cont">
                                    <div class="instructor-author">
                                        <div class="author-thum">
                                            <img src="../images/instructor/i-1.jpg" alt="Instructor">
                                        </div>
                                        <div class="author-name">
                                            <a href="../#"><h5>Sumon Hasan</h5></a>
                                            <span>Senior WordPress Developer</span>
                                            <ul class="social">
                                                <li><a href="../#"><i class="fa fa-facebook-f"></i></a></li>
                                                <li><a href="../#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="../#"><i class="fa fa-google-plus"></i></a></li>
                                                <li><a href="../#"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="instructor-description pt-25">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus fuga ratione molestiae unde provident quibusdam sunt, doloremque. Error omnis mollitia, ex dolor sequi. Et, quibusdam excepturi. Animi assumenda, consequuntur dolorum odio sit inventore aliquid, optio fugiat alias. Veritatis minima, dicta quam repudiandae repellat non sit, distinctio, impedit, expedita tempora numquam?</p>
                                    </div>
                                </div> <!-- instructor cont -->
                            </div>
                            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                                <div class="reviews-cont">
                                    <div class="title">
                                        <h6>Student Reviews</h6>
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="singel-reviews">
                                                <div class="reviews-author">
                                                    <div class="author-thum">
                                                        <img src="../images/review/r-1.jpg" alt="Reviews">
                                                    </div>
                                                    <div class="author-name">
                                                        <h6>Bobby Aktar</h6>
                                                        <span>April 03, 2019</span>
                                                    </div>
                                                </div>
                                                <div class="reviews-description pt-20">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which.</p>
                                                    <div class="rating">
                                                        <ul>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                        </ul>
                                                        <span>/ 5 Star</span>
                                                    </div>
                                                </div>
                                            </div> <!-- singel reviews -->
                                        </li>
                                        <li>
                                            <div class="singel-reviews">
                                                <div class="reviews-author">
                                                    <div class="author-thum">
                                                        <img src="../images/review/r-2.jpg" alt="Reviews">
                                                    </div>
                                                    <div class="author-name">
                                                        <h6>Humayun Ahmed</h6>
                                                        <span>April 13, 2019</span>
                                                    </div>
                                                </div>
                                                <div class="reviews-description pt-20">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which.</p>
                                                    <div class="rating">
                                                        <ul>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                        </ul>
                                                        <span>/ 5 Star</span>
                                                    </div>
                                                </div>
                                            </div> <!-- singel reviews -->
                                        </li>
                                        <li>
                                            <div class="singel-reviews">
                                                <div class="reviews-author">
                                                    <div class="author-thum">
                                                        <img src="../images/review/r-3.jpg" alt="Reviews">
                                                    </div>
                                                    <div class="author-name">
                                                        <h6>Tania Aktar</h6>
                                                        <span>April 20, 2019</span>
                                                    </div>
                                                </div>
                                                <div class="reviews-description pt-20">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which.</p>
                                                    <div class="rating">
                                                        <ul>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                        </ul>
                                                        <span>/ 5 Star</span>
                                                    </div>
                                                </div>
                                            </div> <!-- singel reviews -->
                                        </li>
                                    </ul>
                                    <div class="title pt-15">
                                        <h6>Leave A Comment</h6>
                                    </div>
                                    <div class="reviews-form">
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-singel">
                                                        <input type="text" placeholder="Fast name">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-singel">
                                                        <input type="text" placeholder="Last Name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-singel">
                                                        <div class="rate-wrapper">
                                                            <div class="rate-label">Your Rating:</div>
                                                            <div class="rate">
                                                                <div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                <div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                <div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                <div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                <div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-singel">
                                                        <textarea placeholder="Comment"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-singel">
                                                        <button type="button" class="main-btn">Post Comment</button>
                                                    </div>
                                                </div>
                                            </div> <!-- row -->
                                        </form>
                                    </div>
                                </div> <!-- reviews cont -->
                            </div>
                        </div> <!-- tab content -->
                    </div>
                </div> <!-- corses singel left -->

            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12 col-md-6">
                        <div class="course-features mt-30">
                            <h4>Thông tin khóa học </h4>
                            <ul>
                                <li><i class="fa fa-clock-o"></i>Thời lượng : <span><%=course.duration%></span></li>
                                <li><i class="fa fa-clone"></i>Số buổi : <span><%=course.lectures%></span></li>
                                <li><i class="fa fa-user-o"></i>Học viên :  <span><%=course.students%></span></li>
                            </ul>
                            <div class="price-button pt-10">
                                <span>Giá : <b><?php echo $course['price']; ?></b></span>
                            </div>
                        </div> <!-- course features -->
                    </div>
                    <div class="col-lg-12 col-md-6" >
                        <div class="You-makelike mt-30" >
                            <h4>Option</h4>
                            <div class="singel-makelike mt-20">
                                <div>
                                    <a href="edit_course.php?id=<?php echo $course['id_co']; ?>&edit=true" class="main-btn" style="width :100%">Edit</a>
                                </div>
                            </div>
                            <div class="singel-makelike mt-20">
                                <div>
                                    <a onclick="deleteCourse(<?php echo $course['id_co']; ?>)" class="main-btn" style="width :100%">Delete</a>
                                    <script type="text/javascript">
                                        function deleteCourse(courseId){
                                            if (confirm("Do you want to delete?")){
                                                window.location.href='edit_course.php?id='+courseId+'&delete=true';
                                                return true;
                                            }
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php if($option['edit']) { ?>
            <div class="col-lg-8">
                <div class="contact-from mt-30">
                    <div class="section-title">
                        <h5>Course Management</h5>
                        <h2>Edit course</h2>
                    </div> <!-- section title -->
                    <div class="main-form pt-45">
                        <form id="add-course-form" action="edit_course.php" method="post" data-toggle="validator">
                            <div class="row">
                                <input type="hidden" name="id_co" value="<?php echo $course['id_co']; ?>">
                                <div class="col-md-12">
                                    <div class="singel-form form-group">
                                        <h6>Name:</h6>
                                        <input name="name_co" type="text" placeholder="Course name" value="<%=course.name%>" data-error="Name is required." required="required">
                                        <div class="help-block with-errors"></div>
                                    </div> <!-- singel form -->
                                </div>
<!--                                <div class="col-md-12">-->
<!--                                    <div  class="singel-form form-group">-->
<!--                                        <h6>Category :</h6>-->
<!--                                        <select name="id_ca" class="col-md-12">-->
<!--                                            <?php while ($category = mysqli_fetch_assoc($categories_set)) {?>-->
<!--                                            <option value="<?php echo $category['id_ca']; ?>" <?php if ($category['id_ca']==$course['id_ca']) echo 'selected="selected"'; ?>><?php echo $category['name_ca']; ?></option>-->
<!--                                            <?php } ?>-->
<!--                                        </select>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="col-md-4">
                                    <div class="singel-form form-group">
                                        <h6>Course duration</h6>
                                        <input name="length_co" type="text" value="<%=course.duration%>" placeholder="Course length" data-error="Valid number is required." required="required">
                                        <div class="help-block with-errors"></div>
                                    </div> <!-- singel form -->
                                </div>
                                <div class="col-md-4">
                                    <div class="singel-form form-group">
                                        <h6>Number lecture</h6>
                                        <input name="lectures" type="text" value="<%=course.lectures%>" placeholder="Number lecture" data-error="Valid number is required." required="required">
                                        <div class="help-block with-errors"></div>
                                    </div>  <!-- singel form -->
                                </div>
                                <div class="col-md-4">
                                    <div class="singel-form form-group">
                                        <h6>Number students</h6>
                                        <input name="students" type="text" value="<%=course.students%>" placeholder="Number lecture" data-error="Valid number is required." required="required">
                                        <div class="help-block with-errors"></div>
                                    </div>  <!-- singel form -->
                                </div>
                                <div class="col-md-12">
                                    <div class="singel-form form-group">
                                        <h6>Price</h6>
                                        <input name="price" type="text" value="<%=course.price%>" placeholder="Price" data-error="Price is required." required="required">
                                        <div class="help-block with-errors"></div>
                                    </div> <!-- singel form -->
                                </div>
<!--                                <div class="col-md-12">-->
<!--                                    <div  class="singel-form form-group">-->
<!--                                        <h6>Teacher :</h6>-->
<!--                                        <select name="id_te" class="col-md-12">-->
<!--                                            <?php while ($teacher = mysqli_fetch_assoc($teachers_set)) {?>-->
<!--                                            <option value="<?php echo $teacher['id_te']; ?>" <?php if ($teacher['id_te']==$course['id_te']) echo 'selected="selected"'; ?>><?php echo $teacher['name_te']; ?></option>-->
<!--                                            <?php } ?>-->
<!--                                        </select>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-md-12">-->
<!--                                    <div class="singel-form form-group">-->
<!--                                        <h6>Picture</h6>-->
<!--                                        <input name="path_pic" type="text" value="<?php echo $course['path_pic']; ?>" placeholder="Picture">-->
<!--                                        <div class="help-block with-errors"></div>-->
<!--                                    </div> &lt;!&ndash; singel form &ndash;&gt;-->
<!--                                </div>-->
                                <div class="col-md-12">
                                    <div class="singel-form form-group">
                                        <h6>Overview</h6>
                                        <textarea name="overview_co" placeholder="Overview" data-error="Please,write a overview about course." required="required"><%=course.overview%></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div> <!-- singel form -->
                                </div>
                                <div class="col-md-12">
                                    <div class="singel-form form-group">
                                        <h6>Requirement</h6>
                                        <textarea name="requirement_co" placeholder="Requirement" data-error="Please,write a requirement about course." required="required"><%=course.requirement%></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div> <!-- singel form -->
                                </div>
                                <p class="form-message"></p>
                                <div class="col-md-12">
                                    <div class="singel-form">
                                        <button type="submit" class="main-btn">Submit</button>
                                    </div> <!-- singel form -->
                                </div>
                            </div> <!-- row -->
                        </form>
                    </div> <!-- main form -->
                </div> <!--  contact from -->
            </div>

            <?php }?>
        </div> <!-- row -->


    </div> <!-- container -->
</section>


<!--====== FOOTER PART START ======-->

<footer id="footer-part">
    <% include ../shared/footer_2.ejs %>
</footer>

<!--====== FOOTER PART ENDS ======-->

<!--====== BACK TO TP PART START ======-->

<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

<!--====== BACK TO TP PART ENDS ======-->








<!--====== jquery js ======-->
<script src="/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="/js/vendor/jquery-1.12.4.min.js"></script>

<!--====== Bootstrap js ======-->
<script src="/js/bootstrap.min.js"></script>

<!--====== Slick js ======-->
<script src="/js/slick.min.js"></script>

<!--====== Magnific Popup js ======-->
<script src="/js/jquery.magnific-popup.min.js"></script>

<!--====== Counter Up js ======-->
<script src="/js/waypoints.min.js"></script>
<script src="/js/jquery.counterup.min.js"></script>

<!--====== Nice Select js ======-->
<script src="/js/jquery.nice-select.min.js"></script>

<!--====== Nice Number js ======-->
<script src="/js/jquery.nice-number.min.js"></script>

<!--====== Count Down js ======-->
<script src="/js/jquery.countdown.min.js"></script>

<!--====== Validator js ======-->
<script src="/js/validator.min.js"></script>

<!--====== Ajax Contact js ======-->
<script src="/js/ajax-contact.js"></script>

<!--====== Main js ======-->
<script src="/js/main.js"></script>

<!--====== Map js ======-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC3Ip9iVC0nIxC6V14CKLQ1HZNF_65qEQ"></script>
<script src="/js/map-script.js"></script>

</body>
</html>
